.navbar {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.list {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  height: 100%;
}

.item a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 15px;
  display: inline-block;
}

.item a:hover {
  color: #ff757c !important;
}
