.container {
  margin: 40px 50px 20px;
}

.header {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 80px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.image {
  position: absolute;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image a {
  line-height: 1;
  font-size: 1px;
}

.image img {
  width: 80px;
  height: auto;
}

.title {
  padding: 0 20px;
}

.title h1 {
  margin: 0 0 15px;
}

.title p {
  margin: 0;
  font-style: italic;
}

.home {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #0c7785;
  padding: 15px;
  border-radius: 50%;
  margin-left: 20px;
}

.home a {
  line-height: 1;
  font-size: 1px;
}

.footer {
  margin-top: 20px;
  padding: 20px 0;
  text-align: center;
  background-color: #0c778521;
}
