.content {
  padding: 80px 0 20px;
}

.sectionTitle {
  border-bottom: 2px solid #dadada;
  margin-bottom: 20px;
  line-height: 36px;
  font-size: 22px;
  font-weight: bold;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin: 45px 0 40px;
}
@media all and (max-width: 800px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (max-width: 600px) {
  .content {
    padding: 100px 0 20px;
  }

  .posts {
    grid-template-columns: repeat(1, 1fr);
  }
}
