.overlay {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
}

.content {
    background-color: white;
    display: flex;
    padding: 20px 20px;
    width: 95vw;
    height: 95vh;
    border-radius: 20px;
    position: relative;
    flex-direction: column;
}
.close {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
