.post {
  background-color: white;
  -webkit-box-shadow: 10px 5px 15px 0px rgba(194, 194, 194, 1);
  -moz-box-shadow: 10px 5px 15px 0px rgba(194, 194, 194, 1);
  box-shadow: 10px 5px 15px 0px rgba(194, 194, 194, 1);
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  position: relative;
}

.post:hover {
  -webkit-box-shadow: 5px 5px 10px 0px rgb(174, 174, 174);
  -moz-box-shadow: 5px 5px 10px 0px rgba(174, 174, 174, 1);
  box-shadow: 5px 5px 10px 0px rgba(174, 174, 174, 1);
}

.labelNew {
  position: absolute;
  top: 0px;
  right: 20px;
  width: 60px;
  height: 30px;
  padding: 10px 0 0;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  background: #da0004;
  background: linear-gradient(to bottom, #da0004 0%, #ae1511 100%);
}

.labelNew:after {
  position: absolute;
  content: "";
  top: 30px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 10px solid #ae1511;
}

.link {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.link:hover {
  cursor: pointer;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
  margin-bottom: 10px;
}

.image {
  object-fit: cover;
  transform: scale(1.3);
}

.content {
  padding: 0px 20px 10px;
}

.date {
  display: block;
  font-size: 14px;
  color: rgb(90, 90, 90);
  text-align: right;
  margin-bottom: 10px;
}

.location {
  font-size: 14px;
  color: rgb(90, 90, 90);
  margin-bottom: 12px;
}

.country,
.region {
  display: inline-block;
  font-size: 14px;
  background-color: #07555c;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
}

.country {
  background-color: #0a7a84;
  margin-right: 10px;
}

.title {
  font-size: 20px;
  margin: 0 0 10px;
}

.perex {
  margin-bottom: 10px;
}
