.post {
  background-color: white;
  -webkit-box-shadow: 10px 5px 15px 0px rgba(194,194,194,1);
  -moz-box-shadow: 10px 5px 15px 0px rgba(194,194,194,1);
  box-shadow: 10px 5px 15px 0px rgba(194,194,194,1);
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
}

.image {
  width: 100%;
  height: auto;
  max-height: 270px;
  margin-top: -11px;
}

.content {
  padding: 0px 20px 10px;
}

.categoryDate {
    color: gray;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;
  font-size: 12px;
}

.title {
  margin: 0 0 10px;
}

.perex {
  margin-bottom: 10px;
}
