.main {
  max-width: 900px;
  margin: 0 auto;
}

.image {
  width: 100%;
  height: auto;
}

.content {
  margin: 10px 0;
}

.categoryDate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.category, .date {
  color: gray;
}

.title {
  margin: 0 0 15px;
}

.perex {
  margin-bottom: 25px;
}

.wysiwyg {
  text-align: justify;
}

.wysiwyg > p {
  margin: 15px 0;
}

.wysiwyg > p:first-child {
  margin-top: 0;
}
.wysiwyg > p:last-child {
  margin-bottom: 0;
}

.wysiwyg > img {
  width: calc(50% - 15px);
  height: auto;
}

.wysiwyg > img + img {
  margin-left: 30px;
}

.mapContainer {
  height: 400px;
  margin-top: 35px;
}

.itineraryTitle {
  margin: 35px 0;
  text-align: center;
}

.itineraryItem {
  margin-bottom: 15px;
  padding: 0 40px;
}

.itineraryItem:last-child {
  margin-bottom: 0;
}

.itineraryHeader {
  display: flex;
  background-color: white;
  padding-bottom: 15px;
}

.itineraryDate {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #0c7785a0;
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-right: 30px;
}

.itineraryName {
  font-size: 18px;
  line-height: 60px;
  margin: 0;
}

.itineraryText {
  padding: 6px 58px;
  border-left: 4px solid #eee;
  margin-left: 28px;
}

.itineraryItem:hover .itineraryDate {
  background-color: #0c7785;
}
.itineraryItem:hover .itineraryText {
  border-left-color: #0c77855d;
}
