.content {
  position: relative;
  margin-bottom: 60px;
}
@media all and (max-width: 1080px) {
  .content {
    margin-top: 60px;
  }
}

.title {
  margin: 0 0 20px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.category, .date {
  color: rgb(90, 90, 90);
}

.perex {
  margin-bottom: 20px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.2%;
  margin-bottom: 20px;
}

.imageWrapper > img {
  object-fit: cover;
}

.wysiwyg {
  text-align: justify;
  margin: 25px 0;
}

.wysiwyg > h3, 
.wysiwyg > h4 {
  text-align: center;
  padding: 25px 0;
}

.wysiwyg > p {
  margin-bottom: 15px;
}

.wysiwyg > p:last-child {
  margin-bottom: 0;
}

.wysiwygImages {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.wysiwygImageFlex {
  position: relative;
  flex: calc(50% - 10px) 0;
  width: calc(50% - 10px);
}

@media all and (max-width: 700px) {
  .wysiwygImageFlex {
    flex: 100% 0;
    width: 100%;
  }
}

.wysiwygImageWrapper {
  width: 100%;
}

@media all and (max-width: 400px) {
  .wysiwyg > iframe {
    width: 100%;
    max-width: 900px;
    height: 195px;
  }
}
@media all and (min-width: 401px) and (max-width: 900px) {
  .wysiwyg > iframe {
    width: 100%;
    max-width: 900px;
    height: 300px;
  }
}


.mapContainer {
  height: 400px;
  margin-top: 50px;
}

.itineraryTitle {
  margin: 50px 0 35px;
  text-align: center;
}

.itineraryItem {
  margin-bottom: 20px;
}

.itineraryHeader {
  display: flex;
  align-items: center;
  background-color: white;
  padding-bottom: 15px;
}
@media all and (max-width: 900px) {
  .itineraryHeader {
    padding-bottom: 0px;
  }
}

.itineraryDate {
  width: 60px;
  height: 60px;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #0c7785;
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-right: 30px;
}

.itineraryName {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.itineraryText {
  padding-left: 58px;
  border-left: 4px solid #eee;
  margin-left: 28px;
  text-align: justify;
}
@media all and (max-width: 900px) {
  .itineraryText {
    margin-top: 20px;
  }
}

.itineraryItem:hover .itineraryDate {
  background-color: #0b525c;
}
.itineraryItem:hover .itineraryText {
  border-left-color: #0c77855d;
}

.previousPost {
  margin-bottom: 30px;
}

.nextPost {
  margin-top: 60px;
}

.link {
  color: #0c7785;
  font-weight: bold;
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
}
