.content {
  position: relative;
  margin-bottom: 60px;
}
@media all and (max-width: 1080px) {
  .content {
    margin-top: 60px;
  }
}

.previousPost {
  margin-bottom: 30px;
}

.nextPost {
  margin-top: 60px;
}

.link {
  color: #0c7785;
  font-weight: bold;
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
}
